{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}








{% block body %}



{# <img src="{{ asset('images/Tsuna.jpg')}}" alt="test"> #}

<section>

{# {{ form(recipeForm) }} #}

{# Balise form ouvrante #}
{{ form_start(form, {
    'attr':{
        'id': 'recipeForm',
        'class' : 'form-horizontal'
    }
}) }}


<div class="test">

{{ form_label(form.name) }}
{{ form_widget(form.name) }}
{# {{ form_errors(recipeForm.name) }} #}


</div>




<div class="test">

{{ form_label(form.description) }}
{{ form_widget(form.description) }}
{# {{ form_errors(recipeForm.name) }} #}


</div>

<div class="test">

{{ form_label(form.slug) }}
{{ form_widget(form.slug) }}
{# {{ form_errors(recipeForm.name) }} #}


</div>

<div class="test">

{{ form_label(form.category) }}
{{ form_widget(form.category) }}
{# {{ form_errors(recipeForm.name) }} #}


</div>



 <button class="envoyer">{{ button_label|default('Sauvegarder') }}</button>




{# Balise form fermante #}
{{ form_end(form) }}

</section>

{% endblock %}
